<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Detalle de venta</h4>
                        <p class="card-category">Detalle venta</p>
                    </div>
                    <div class="card-body">
                        <div class="card-body">

                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="ID Venta" [(ngModel)]="ventaDetalle.idVenta"
                                           requeried />
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="Producto" [(ngModel)]="ventaDetalle.producto"
                                           requeried />
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="Cantidad" [(ngModel)]="ventaDetalle.cantidad"
                                           requeried />
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="Valor Unitario" [(ngModel)]="ventaDetalle.valorUnitario"
                                           requeried />
                                </mat-form-field>
                            </div>
                            </div>
                        </div>

                </div>

                <button type="button" class="btn btn-outline-dark"
                        (click)="agregarRegistro(ventaDetalle)">Guardar</button>
            </div>
        </div>
    </div>

